<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UUID generator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <section class="columns is-desktop is-vcentered">
      <div class="container">
        <div class="column">
          <% if (id) { %>
          <h1 class="title is-1"><%= id %></h1>
          <% } %>
        </div>
            <a class="button" href="/json">JSON</a>
            <a class="button" href="https://github.com/scanf/uuid.alemayhu.com"
              >Source</a
            >
        </div>
      </div>
    </section>
  </body>
</html>
