<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UUID generator</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered">UUID generator</h1>
        <% if (id) { %>
                <h2 class="title has-text-centered"><%= id %></h1>
        <% } %>
        </div>
    </section>
    <section class="columns is-desktop is-vcentered">
      <div class="container has-text-centered">
        <div class="column">
            <a class="button" href="/json">JSON</a>
            <a class="button" href="https://github.com/scanf/uuid.alemayhu.com"
              >Source</a
            >
      </div>
        <div class="content has-text-centered">
            A <a href="https://github.com/scanf">scanf</a> project
        </div>
    </section>
  </body>
</html>
